extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Contact Us

        // register form
        form(method='POST' action='/contact')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='phone') Phone:
            input#favoriteBook.form-control(type='number', placeholder='phone' name='phone')
          button.btn.btn-primary(type='submit') Contact